<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

<title>Groups</title>
</head>
<body>

	<!-- EVALUATOR NAVBAR -->
<div th:replace="./navbarFragm.html :: navbar"></div>

<nav class="navbar navbar-light bg-light  justify-content-center ">
	<div class="btn-group ">
		<div th:if="${UserRole.equalsIgnoreCase('EVALUATOR_ADMIN')}">
		<a th:href="@{/groupInformation/{id} (id=${group.id})}"><button class="btn btn-outline-danger " type="button">Back</button></a>
	</div>
	<div th:unless="${UserRole.equalsIgnoreCase('EVALUATOR_ADMIN')}">
		<a th:href="@{/usergroups/{id} (id=${User.id})}"><button class="btn btn-outline-danger " type="button">Back</button></a>
	</div>
	</div>
</nav>

		
		 <div class="container  mt-5" th:each="rev : ${reviewee}">
		 	<div>
		 		<h2 th:text="${rev.group.year} + ' Field Employee Performance Evaluation'"><b></b></h2>
		 	</div>
		 	<div style="overflow-x: auto;">
		 		<div style="display:flex;">
		 			<div style="flex: 50%;">
		 				<div class="row">
		 					<div class="col">
		 						<div class="row align-items-start">
		 							<div class="col">
					 					<p><b>Employee Name</b></p>
					 					<p th:text=${rev.name}><b></b></p>
					 					<p><b>Title</b></p>
					 					<p th:text=${rev.user.jobTitle}><b></b></p>
					 					<p><b>Department</b></p>
					 					<p th:text=${rev.user.departmentName}><b></b></p>
					 					<p><b>Supervisor</b></p>
					 					<p th:text=${rev.user.supervisor}><b></b></p>
					 				</div>
					 				<div class="col">
					 					<p><b>Employee ID</b></p>
					 					<p th:text=${rev.id}><b></b></p>
					 					<p><b>Role</b></p>
					 					<p th:text=${rev.user.roleName}><b></b></p>
					 					<p><b>Hire Date</b></p>
					 					<p th:text=${rev.user.dateOfHire}><b></b></p>
					 					
					 				</div>
		 						</div>		 		
		 					</div>
		 				</div>
		 			</div>
		 			<div style="flex: 50%;">
		 				<p th:text="${rev.group.groupName}"><b></b></p>
		 				<table class="table" align="center">
		 					<thead>
		 						<tr>
		 							<th>Step</th>
		 							<th>Reviewer</th>
		 							<th>Status</th>
		 							<th>Synchronous/Asynchronous</th>
		 							
		 						</tr>
		 					</thead>
		 					<tbody>
		 						<tr>
		 							<td>Self evaluation</td>
		 							<td>Self</td>
		 							<td th:if="${rev.selfEvaluation != null and rev.selfEvaluation.completed == true}">Completed</td>
		 							<td th:if="${rev.selfEvaluation != null and rev.selfEvaluation.completed == false}">In Progress</td>
		 							<td th:if="${rev.selfEvaluation == null}"><i>Not Requested</i></td>
		 							<td>Synchronous</td>
								</tr>
								<div th:each="role : ${role}">
									<tr th:each="evaluator : ${rev.group.evaluator}" th:if="${role == evaluator.level}">
										<td th:text=${role.name}></td>
										<td th:text="${evaluator.user.name}"></td>
										<div th:each="logs : ${rev.evalutationLog}" th:if="${role ==  logs.Evaluator.level}">
											<td th:if="${logs.completed}">Completed</td>
											<td th:if="${!logs.completed and logs.dateEdited != null}"><i>In Progress</i></td>
											<td th:if="${!logs.completed and logs.dateEdited == null}"><i>Not Started</i></td>
										</div>
										
									
		 							</tr>
		 						</div>
		 					</tbody>
		 				</table>
		 				<!-- <div th:if></div> -->
		 				
		 			</div>
		 		</div> 	
		 	</div>
				
			<div>
				<h2 th:text="'Review Period From Jan 1, ' + ${rev.group.year} + ' Through Sept 30, ' + ${rev.group.year}"><b></b></h2>
			</div>	
		 </div>
			

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
		crossorigin="anonymous"></script>


</body>
</html>