<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<title>Edit Groups</title>


	<script th:inline="javascript">
		function radioClicked(questID, option1, option2) {
			//alert("ID: " + questID + " OPTION: " + option);
			var insertDiv = document.getElementById(questID + option1 + option2);
			if (insertDiv.innerHTML.trim() == "") {
				insertDiv.innerHTML = "<input type=\"hidden\" name=\"role\" value=\"" + questID + "\">";

			} else {
				insertDiv.innerHTML = "";
			}

		}


		function radioClicked2(questID, option1) {
			//alert("ID: " + questID + " OPTION: " + option);
			var insertDiv = document.getElementById(questID + 'sync');

			insertDiv.innerHTML = "<input type=\"hidden\" name=\"issync\" value=\"" + option1 + "\">";


		}

		function radioClicked3(questID, option1) {
			//alert("ID: " + questID + " OPTION: " + option);
			var insertDiv = document.getElementById(questID + 'prev');

			insertDiv.innerHTML = "<input type=\"hidden\" name=\"isprev\" value=\"" + option1 + "\">";

		}
	</script>
	
<style>
	body {
		padding-top: 20px;
	}
</style>
</head>

<body>
	<nav class="navbar navbar-light bg-light  justify-content-center ">
		<div class="btn-group ">
			<a th:href="@{/editgroup/{id} (id=${group.id})}"><button class="btn btn-outline-success " type="button">Back</button></a>
		</div>
	</nav>

	<div class="container  mt-5">
		<div th:switch="${ansr}">
			<div class="row">
				<div class="col">
					<div th:case="fail">
						<div class="col">
							<div class="alert alert-danger alert-dismissible fade show" role="alert">
								<span th:utext="'<Strong>ERROR:&nbsp</strong>'+ ${mess}"></span>
								<button type="button" class="btn-close" data-bs-dismiss="alert"
									aria-label="Close"></button>
							</div>
						</div>
					</div>
					<div th:case="pass">
						<div class="col">
							<div class="alert alert-success alert-dismissible fade show" role="alert">
								<span th:utext="'<Strong>SUCCESS:&nbsp</strong>'+ ${mess}"></span>
								<button type="button" class="btn-close" data-bs-dismiss="alert"
									aria-label="Close"></button>
							</div>
						</div>
					</div>
					<div class="row">

						<div class="row">
							<div class="col">
								<nav class="navbar navbar-light bg-light">
									<h4 th:text="'Manage: '+${group.groupName} + ' (' + ${group.year} + ')'"><b></b>
									</h4>
								</nav>
								<form action='#' th:action="@{/changegroup{id}(id=${group.id})}" th:object="${group}"
									method="post">

									<label for="groupName1">Group Name:</label>
									<input type="text" th:field="*{groupName}" id="groupName1" placeholder="Group Name">
									<span th:if="${#fields.hasErrors('groupName')}" th:errors="*{groupName}"></span>

									<label for="groupNumber">Number:</label>
									<input type="text" th:field="*{number}" id="groupNumber" placeholder="Group Number">
									<span th:if="${#fields.hasErrors('number')}" th:errors="*{number}"></span>

									<label for="groupYear1">Year:</label>
									<input type="text" th:field="*{year}" id="groupYear1" placeholder="Group Year">
									<span th:if="${#fields.hasErrors('year')}" th:errors="*{year}"></span>

									<input type="submit" class="btn btn-outline-success" value="Update group">
								</form>
							</div>
						</div>
						<hr>

						<div class="row">
							<div class="col">


								<form th:action="@{/editgroupsearch/{id}(id=${group.id})}" method="get">
									&nbsp
									<div align="left">
										<input type="text" name="searchKey" th:value="${keyword}"
											placeholder="Search Employee Name" size="65"> </input>

										<button type="submit" class="btn btn-outline-primary">Search</button>

										<div align="left">
											<select id="department" name="department">
												<option th:value="All" th:text="All"></option>
												<option th:each="dept : ${deptList}" th:value="${dept.name}"
													th:text="${dept.name}"></option>
											</select>
										</div>
								</form>
							</div>
				
							<div class="container  mt-5">
								<div style="overflow-x: auto;">
									<div style="display:flex;">
										<div style=" width: 100%; flex: 50%;" align="left">
												<h4><b>Change Group Evaluator</b></h4>
												<hr>
												<form
													th:action="@{/changeEvaluator/{id}/{eid} (id=${group.id}, eid=${currentEval.id})}"
													method="post">

													<label for="name">Current Evaluator Name:</label>
													<input type="text" id="name" name="name"
														th:value="${currentEval.user.name}" th:readonly="${true}"
														disabled></input>

													<br><br>
													
													<label for="level">Current Evaluator Level:</label>
													<input type="text" id="Level" name="level" th:value="${currentEval.level.name}"  disabled />
													
													<input type="hidden" id="Elevel" name="Elevel" th:value="${currentEval.level.id}" />


													<br><br>

													<label for="newEval">New Evaluator:</label>
													<select id="newEval" name="newEval">
														<option th:each="eval : ${evals}"
															th:text="${eval.name}">
														</option>
													</select>
														<br><br>
														
													<input type="submit" value="Submit" class="btn btn-outline-primary">
												</form>
											</div>
											
											
										<div style=" width: 100%; flex: 50%; padding-left: 30px" align="left">
										<h4><b>Edit Group Evaluator</b></h4>
												<hr>
												<form
													th:action="@{/editEvaluator/{id}/{eid} (id=${group.id}, eid=${currentEval.id})}"
													method="post">

													<label for="name">Current Evaluator Name:</label>
													<input type="text" id="currName" name="name"
														th:value="${currentEval.user.name}"  th:readonly="${true}"
														disabled></input>
													<br>
													<label for="level">Current Evaluator Level:</label>
													<input type="text" id="levelOld" name="levelOld" th:value="${currentEval.level.name}"  disabled />
													
													
													<label for="name">Current Synchronicity:</label>
													<input type="text" id="syncOld" name="syncOld"
														 th:value="${currentEval.sync} ? 'Sync' : 'Async'"  th:readonly="${true}"
														disabled></input>
													<label for="name">Current Preview:</label>
														<input type="text" id="previewOld" name="previewOld"
														th:value="${currentEval.preview} ? 'Yes' : 'No'"  th:readonly="${true}"
														disabled></input>
													<label for="name">Current Deadline:</label>
														<input type="text" id="deadlineOld" name="deadlineOld"
														 th:value="${#dates.format(currentEval.deadline, 'yyyy-MM-dd')}"  th:readonly="${true}"
														disabled></input>
													
													<br><br><br><br>
													
													
													<label for="level">Change Level:</label> <select id="newLevel"
													name="newLevel">
													<option th:each="level : ${levels}" th:value="${level.id}"
														th:text="${level.name}"></option>
												</select> 
												<br><br>
												<label for="sync">Change Synchronicity:</label> <select
													name="newSync" id="syncSelect">
													<option value="true">Synchronous</option>
													<option value="false">Asynchronous</option>
												</select> 
												<br> <br>
												<label for="preview">Preview Available:</label> <select
													name="newPreview" id="previewSelect">
													<option value="true">Yes</option>
													<option value="false">No</option>
												</select> 
												<br><br>
												<label for="datePicker">Change Deadline:</label>
												<div>
   												<input type="date" name="newDeadline" id="datePicker">
												</div>
													
													<br><br>
													<input type="submit" value="Submit" class="btn btn-outline-primary">
												</form>
										
										</div>
										
										
										<div class="container  mt-5" style="margin: 0px; width: 100%;">
									
										<div style="display:flex; justify-content: space-between; white-space: nowrap; width: 100%;">
											
											<div style="display: flex; flex-direction: column; padding-left:10px; white-space: nowrap; width: 100%; overflow:auto">
												<div class="scrollable" style="height: 500px; overflow: auto; width: 100%">
												<h4><b>Group Employees</b></h4>
												<hr>
												<table class="table" align="center">
													<thead>
														<tr>
															<th>Name</th>
															<th>Group</th>
															<th>Department</th>
														</tr>
													</thead>
														<tbody>
															<tr th:each="rev : ${group.reviewees}"
																style="vertical-align: baseline">
																<td th:text="${rev.user.name}"></td>
																<td th:text="${group.groupName}"></td>
																<td th:text="${rev.user.departmentName}"></td>

																<td>
																	<span style="padding-right:2px">
																		<button class="btn btn-outline-success"
																			type="button"
																			th:onclick="|window.location.href='@{/edit/{id}/{userId} (id=${group.id} , userId=${rev.user.id})}'|">Edit</button>

																	</span>
																</td>
																<td>
																	<span style="padding-right:2px">
																		<button class="btn btn-outline-primary"
																			type="button"
																			th:onclick="|window.location.href='@{/editgroupmoveuser/{id}/{uid}(id=${group.id}, uid=${rev.user.id})}'|">Move</button>
																	</span>
																</td>
																<td>
																	<span style="padding-right:2px">
																		<button class="btn btn-outline-danger"
																			type="button"
																			th:onclick="|window.location.href='@{/group/deleteUser/{id}/{gid} (gid=${group.id} , id=${rev.user.id})}'|">Remove</button>
																	</span>
																</td>
															</tr>
														</tbody>
												</table>
											</div>

											<div style=" flex: 1; padding-left:10px; white-space: nowrap; width: 100%">
												<h4><b>Group Evaluators</b></h4>
												<hr>
												<table class="table" align="center">
													<thead>
														<tr>
															<th>Name</th>
															<th>Level</th>
														</tr>
													</thead>
													<tbody>
														<tr th:each="eval : ${groupEvals}"
															style="vertical-align: baseline; height: 30px">
															<td th:text="${eval.user.name}"></td>
															<td th:text="${eval.level.name}"></td>

															<td>
																<span style="padding-right:2px">
																	<button class="btn btn-outline-success"
																		type="button"
																		th:onclick="|window.location.href='@{/getchangeEvaluator/{id}/{eid} (id=${group.id} , eid=${eval.id})}'|">Edit</button>

																</span>
															</td>

														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								
							</div>
									</div>
								</div>
							</div>
							<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
								integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
								crossorigin="anonymous"></script>
						</div>
					</div>
				</div>
</body>

</html>