<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
            crossorigin="anonymous">

    <!-- Eval form CSS -->
    <link rel="stylesheet" type="text/css" href="/css/eval_form.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <title>Self Edit</title>
    
    <style>
		body {
			padding-top: 20px;
		}
	</style>
</head>
<body>
<div th:replace="./navbarFragm.html :: navbar"></div>

<div th:if=${message} class="alert alert-danger alert-dismissible fade show"
     role="alert">
    <span th:utext="'<Strong>Warning&nbsp</strong>' + ${message} "></span>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div class="container  mt-5">
    <div th:switch="${error}">
        <h2 th:case="null"></h2>
        <div th:case="*">


            <div class="row">
                <div class="col">
                    <div class="alert alert-danger" role="alert"
                         th:utext="'<Strong>Error&nbsp</strong>' + ${error} "></div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center" th:text="${role}"></div>
    <h3 id="test1"></h3>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script>
        var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
        var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
            return new bootstrap.Popover(popoverTriggerEl)
        })
    </script>
</div>

<form th:action="@{/updateSelfUser}" th:object="${group}" enctype="multipart/form-data"
      method="post">


<div class="text-center">
    <div class="text-center" th:text="'User: ' + ${User.firstName} + ' ' + ${User.lastName}"></div>
<div>
    <button class="btn btn-outline-success justify-content-center" type="button" data-toggle="collapse" data-target="#add" aria-expanded="false" aria-controls="add">
        Edit
    </button>
</div>

</div>
<div class="collapse" id="add">
    <div class="card card-body">
        <!--        <form class="md-form" th:action="@{/uploadgroup}" method="post"-->
        <!--              enctype="multipart/form-data">-->

        <div class="row">

            <div class="form-group col">
                <label for="firstName">First Name</label>
                <input type="text" th:field="${User.firstName}" class="form-control" id="firstName"
                       placeholder= "First Name">
            </div>

            <div class="form-group col">
                <label for="lastName">Last Name</label>
                <input type="text" th:field="${User.lastName}" class="form-control" id="lastName"
                       placeholder="Last Name">
            </div>

        </div>


        <!--        </form>-->
        <!--					<button class="btn btn-outline-success" th:href="@{/manageGroups}"> Manually Create Group</button>-->
    </div>
</div>


<div class="text-center">
<div class="text-center" th:text="'User: ' + ${User.email}"></div>
<div>
    <button class="btn btn-outline-success justify-content-center" type="button" data-toggle="collapse" data-target="#add2" aria-expanded="false" aria-controls="add2">
        Edit
    </button>
</div>
</div>

<div class="collapse" id="add2">
    <div class="card card-body">
        <!--        <form class="md-form" th:action="@{/uploadgroup}" method="post"-->
        <!--              enctype="multipart/form-data">-->

        <div class="row">

            <div class="form-group col">
                <label for="firstName">First Name</label>
                <input type="text" th:field="${User.email}" class="form-control" id="email"
                       placeholder= "Email">
            </div>

        </div>


        <!--        </form>-->
        <!--					<button class="btn btn-outline-success" th:href="@{/manageGroups}"> Manually Create Group</button>-->
    </div>
</div>





<div class="text-center" th:text="'Company: ' + ${User.companyName}"></div>
<div class="text-center" th:text="'Role: ' + ${User.roleName}"></div>
<div class="text-center" th:text="'Reviewee: ' + ${User.isReviewee}"></div>
<div class ="text-center">
    <input type="submit" class="btn btn-outline-success" name="submit" value="Save Changes">
    </div>
</form>

<div class="bg-light mt-5 container">

<!--    <form th:action="@{/updateSelfUser}" th:object="${group}" enctype="multipart/form-data"-->
<!--          method="post">-->

        <!--    <form class="form-inline" th:action="@{/testing}" th:object="${group}" enctype="multipart/form-data"-->
        <!--          method="post">-->



<!--        <input type="submit" class="btn btn-outline-success" name="submit" value="Save Changes">-->
<!--    </form>-->


<div class="justify-content-center text-center mt-3">  <!-- resetting -->
    <a class="btn btn-outline-danger" th:href="@{/firstReset}">Reset Password</a>
</div>

</div>

</body>
</html>