<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

	<script>
		function uploadSpinner(id) {
			document.getElementById(id).style.visibility = 'hidden';
			document.getElementById(id).style.display = 'none';
			document.getElementById(id + "Load").removeAttribute("hidden");
		}

	// async function manCreateGroup(e) {
	// 	await fetch(`${window.location.origin}/mancreategroup`, {method:"POST"})
	// 			.then(response => response.ok ? response.json() : Promise.reject(response))
	// 			.then(data => window.location.href = `${window.location.origin}/edit/${data[0]}`)
	//
	// }
	</script>

	<title>Groups</title>
	
	<style>
		body {
			padding-top: 20px;
		}
	</style>
</head>

<body>


	<div th:replace="./navbarFragm.html :: navbar"></div>

	<div class="container mt-3" style="padding-top: 20px;">
    <h3>User's Groups</h3>
    
   			<div class="row">
			<div class="col">
				<div class="accordion" id="accordionExample" th:each="group : ${groups}">
					<div class="accordion-item">
						<h2 class="accordion-header" th:id="heading+${group.Id }">

							<button class="accordion-button " type="button" data-bs-toggle="collapse"
								th:attr="data-bs-target='#collapse'+ ${group.Id },aria-controls='#collapse'+ ${group.Id }"
								aria-expanded="false" th:text="${group.groupName }">

							</button>

						</h2>
						<div th:id="collapse+ ${group.Id }" class="accordion-collapse collapse"
							aria-labelledby="headingOne">
							<div class="accordion-body">
								<strong>Group Users</strong>

							</div>
							<hr>
					<div class="accordion-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Job Title</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="rev : ${group.reviewees}"
                                style="vertical-align: baseline; height: 30px">
                                <td th:text="${rev.user.name}"></td>
                                <td th:text="${rev.user.email}"></td>
                                <td th:text="${rev.user.jobTitle}"></td>

                           
                            </tr>
                        </tbody>
                    </table>
                    
                    <table class="table" align="center">
					<thead>
						<tr>
							<th>Name</th>
							<th>Level</th>
							<th>Preview</th>
							<th>Sync Status</th>
							<th>Deadline</th>
						</tr>
					</thead>
					<tbody>
						<div th:each="role : ${roles}">
							<tr th:each="evaluator : ${group.evaluator}"
								th:if="${role == evaluator.level}">

								<td th:text="${evaluator.user.name}"></td>
								<td th:text="${role.name}"></td>
								
								<td th:if="${evaluator.preview == true}"><svg
										xmlns="http://www.w3.org/2000/svg" width="16" height="16"
										fill="currentColor" class="bi bi-check-circle-fill"
										viewBox="0 0 16 16" style="color: green; margin-left: 20px;">
  										<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
								</svg>
								</td>
								<td th:if="${evaluator.preview == false}"><svg
										xmlns="http://www.w3.org/2000/svg" width="16" height="16"
										fill="currentColor" class="bi bi-x-circle-fill"
										viewBox="0 0 16 16" style="color: red; margin-left: 20px;">
  										<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293z" />
								</svg>
								</td>
								<td th:if="${evaluator.sync == true}">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
										 fill="currentColor" class="bi bi-check-circle-fill"
										 viewBox="0 0 16 16" style="color: green; margin-left: 30px;">
  										 <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
									</svg>
								</td>
								<td th:if="${evaluator.sync == false}">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
										 fill="currentColor" class="bi bi-x-circle-fill"
										 viewBox="0 0 16 16" style="color: red; margin-left: 30px;">
  										 <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293z" />
									</svg>
								</td>
								<td th:text="${#dates.format(evaluator.deadline, 'yyyy-MM-dd')}">
								</td>
							</tr>
						</div>
					</tbody>
				</table>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
	
	
	
	
	
	
	
	
	
	
	
	<!-- 
		<div style="overflow-x: auto; margin-top: 50px;" th:unless="${groupsAreEmpty}">
		<table class="table" align="center">
			<thead>
				<tr>
					<th>
						<button id="groupNumberHead" class="btn btn-outline-success" type="button">Group Name</button>
					</th>
					<th>
						<button id="evalFormHead" class="btn btn-outline-success" type="button">Reviewees</button>
					</th>
					<th>
						<button id="numEmployeesHead" class="btn btn-outline-success" type="button">Self Evaluation Requirement</button>
					</th>
					<th>
						<button id="selfEvalHead" class="btn btn-outline-success" type="button">Self Evaluation</button>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="group : ${userGroups}">
					<td>
						<p th:text="${group.groupName}+' ('+${group.year}+')'"></p>
					</td>
					<td>
						<div th:each="reviewee : ${group.reviewees}">
						</div>
					</td>
					
										<button
							th:if="${ revs[Index.index].selfEvaluation != null and revs[Index.index].selfEvaluation.completed == false}"
							th:onclick="|window.location.href='@{/selfeval/{id} (id =${revs[Index.index].id})}'|"
							class="btn btn-outline-success">Self Eval</button>
						<button th:if="${revs[Index.index].selfEvaluation != null and revs[Index.index].selfEvaluation.completed == true }"
							class="btn btn-outline-success"
							th:onclick="|window.location.href='@{/viewselfeval/{id}/{type} (id =${revs[Index.index].id}, type='rev')}'|" >Completed</button>
							<button th:if="${revs[Index.index].selfEvaluation == null }"
							class="btn btn-outline-success" th:text="${group.evalTemplates.name}"
							th:onclick="|window.location.href='@{/viewselfeval/{id}/{type} (id =${revs[Index.index].id}, type='rev')}'|" disabled></button>
							
					</td>
				
					<td>
						<p th:if="${group.selfeval}">Required</p>
						<p th:unless="${group.selfeval}">Not Required</p>
					</td>

					<td align="center">
						<span style="padding-right:5px">
							<button class="btn btn-outline-success " type="button"
								th:onclick="|window.location.href='@{/admineval/{id}/{gid}(id=${revs[Index.index].id}, gid=${group.id})}'|">View</button>
						</span>

					</td>

					<td align="center">
						<div class="modal fade" th:id="'homeModal' + ${group.id}" data-bs-backdrop="static"
							data-bs-keyboard="false" tabindex="-1" th:aria-labelledby="'homeModalLabel' + ${group.id}"
							aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" th:id="'homeModalLabel' + ${group.id}">Warning</h5>
										<button type="button" class="btn-close" data-bs-dismiss="modal"
											aria-label="Close"></button>
									</div>
									<div class="modal-body">Are you sure you want to delete this group</div>
									<div class="modal-footer">
										<button id="deleteButton" type="button" class="btn btn-secondary"
											data-bs-dismiss="modal"
											th:onclick="|window.location.href='@{/delete/{id}(id=${group.id})}'|">
											Yes</button>
										<a th:href="@{/home}" type="button" class="btn btn-primary">No </a>
									</div>
								</div>
							</div>
						</div>
					</td>
					
				</tr>
			</tbody>
		</table>
	</div>
-->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
		crossorigin="anonymous"></script>


</body>

</html>